html {
	cursor: crosshair;
	height: 100vh;
	width: 100vw;
}

body {
	background-color: #1f4f7f;
}

#score {
	left: 1em;
}

#max_score {
	right: 1em;
}

.score_format {
	color: white;
	font-weight: bold;
	font-family: monospace;
	font-size: 2em;
	border: 0.2em dashed white;
	padding: 1em;
	width: 3em;
	text-align: center;
	user-select: none;
	top: 1em;
	position: absolute;
}

@keyframes box_spawn_to_center {
	100% {left: 50vw; top: 50vh;}
}

.box {
	position: absolute;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	/*animation-name: box_spawn_to_center;
	animation-duration: 6s;
	animation-fill-mode: forwards;*/
}
