html {
	cursor: crosshair;
	height: 100vh;
	width: 100vw;
}

body {
	background-color: #1f4f7f;
}

#score {
	color: white;
	font-weight: bold;
	font-family: monospace;
	font-size: 2em;
	margin: 1em;
	border: 0.2em dashed white;
	padding: 1em;
	width: 3em;
	text-align: center;
}

.box {
	width: 64px;
	height: 64px;
	position: absolute;
	background-image: url("copter.gif");
	background-size: cover;
	background-position: center;
	background-color: transparent;
}
