body {
	background-color: rgba(0,0,0,0.5);
}

button {
	background-color: white;
	font-family: 'Product Sans', sans-serif;
	font-size: 1vw;
	padding: 0.5vw;
	border: 0.2vw solid rgba(0,0,0,0.5);
	border-radius: 1vw;
	margin-left: auto;
	color: rgba(0,0,0,0.5);
}

.searchbar {
	width: 33vw;
	height: 3vh;
	background-color: rgba(0,0,0,0.2);
	font-family: 'Product Sans', sans-serif;
	margin: 1vw;
	padding: 0.5vw;
	border: 0.2vw solid #000000;
	border-radius: 1vw;
}

#box {
	display: table;
	padding: 2em;
	border: 0.3em solid transparent;
	border-radius: 2em;
	box-shadow: 0vw 0vh 3em;
	background-color: #FFFFFF;
	margin: 20vh auto;
}

.line {

}

.word {
	display: inline-block;
	height: inherit;
}

@font-face {
	font-family: 'My Font';
	src: url("downloadable/productsansreg.ttf");
}

#textin {
	width: 20vw;
	background-color: white;
	border: 0.2em solid rgba(0,0,0,0.5);
	border-radius: 1em;
	font-family: 'My Font', sans-serif;
	font-size: 1vw;
	margin-bottom: 3vh;
	color: rgba(0,0,0,0.5);
	padding: 0.5vw;
}

.char {
	display: inline-block;
	font-family: 'My Font', sans-serif;
	font-size: 5em;
	font-weight: bold;
}

.blue {
	color: #3369E8;
}

.red {
	color: #D50F25;
}

.green {
	color: #009925;
}

.yellow {
	color: #EEB211;
}

.rotate {
	transform: rotate(-0.33rad);
}

.foot {
	background-color: rgba(0,0,0,0.75);
	color: white;
	font-family: monospace;
	font-size: 1.5em;
	padding: 1em;
	text-align: center;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}
