body {
	background: url("images/background.jpg") black no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: sans-serif;
}

img {
	height: 9em;
}

.button {
	color: black;
	background-color: white;
	border: none;
	padding: 1em;
	border-radius: 1em;
	text-decoration: none;
}

.button:hover {
	cursor: crosshair;
}

.content {
	margin: auto;
	width: 75vw;
	padding: 1em;
}

.element {
	margin: 0em 1.5vw 0em 1.5vw;
	padding: 1em;
	height: 20vh;
}

.element_title {
	font-size: 1.3em;
	margin: 0vh 0vw 0vw 3vw;
	font-variant: small-caps;
	font-weight: bold;
}

.element_content {
	font-size: 1em;
	margin: 1vh 15vw 0vh 10vw;
	vertical-align: top;
	display: inline-block;
	padding: 2vh 0em 2vh 0em;
	width: 20vw;
}

.element_content_text {
	display: list-item;
}

.element_image {
	display: inline;
	margin: 0vh auto 0vh 5vw;
}

.foot {
	background-color: rgba(0,0,0,0.75);
	color: white;
	font-family: monospace;
	font-size: 1.5em;
	padding: 1em;
	text-align: center;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}

.box {
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.75);
	border-radius: 1.5vh;
}

.title {
	font-size: 2em;
	padding: 1em;
	width: 60vw;
	margin: 2vh auto 2vh auto;
	font-weight: bold;
	text-align: center;
}
